/assignments/assign_1/submissions
/assignments/assign_1/results/results_aggs.csv
/assignments/assign_1/results/results_ind.csv
/assignments/assign_1/results/main_results.csv
/assignments/assign_1/PA1.zip

/assignments/assign_2/PA2
/assignments/assign_2/PA2.zip
/assignments/assign_2/submissions

/assignments/assign_3/PA3.zip
/assignments/assign_3/submissions
/assignments/assign_3/results

/problem_sets/set_2/results.csv
/problem_sets/set_2/submissions.zip

/problem_sets/set_5/results
/problem_sets/set_5/submissions
/problem_sets/set_5/PS5.zip

